bin/
obj/
publish/
generated/
disc/
*.sav
settings.json
interface.ini
.idea/
.vs/
debug_dump/
disc/
mods/.cache
packs/
ghidra_files/**/*.BIN
ghidra_files/**/*.bin
ghidra_files/*.exe
ghidra_files/*.CNF
tools/**/bin/
tools/**/obj/